#bar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  background-color: #90C695;

  .bar-zone {
    position: absolute;
    top: 0;
    right: 40px;
    bottom: 0;
    left: 200px;
    line-height: 40px;
    text-align: center;
    font-weight: 700;
    z-index: 0;
    color: #C8F7C5;
    cursor: pointer;
  }
  .bar-fill {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    background-color: #3FC380;
    z-index: -1;
  }
  .buttons .button {
    width: 40px;
    height: 40px;
    float: left;
    text-align: center;
    color: #C8F7C5;
  }
  .button.clickable {
    background-color: $darkGreen;
    cursor: pointer;
    transition: color $transSpeed, background-color $transSpeed;
  }
  .button.clickable:hover {
    background-color: $contrast;
    color: #fff;
  }
  .button.informative {
    background-color: #3FC380;
  }
  .buttons .button:before {
    font-family: "icon-font";
    line-height: 40px;
    font-size: 24px;
    display: inline-block;
    vertical-align: top;
    font-style: normal;
    font-weight: normal;
    speak: none;
    font-variant: normal;
    text-transform: none;
  }
  .menu-button:before {
    content: '\e803';
  }
  .marker-button:before {
    content: '\e802';
  }
  .buttons .button.plus-button {
    float: right;
  }
  .buttons .button:after {
    background-image: $assets;
    display: inline-block;
    vertical-align: top;
    width: 40px;
    height: 40px;
  }
  .source-button:after {
    content: "";
  }
  .source-button.human:after {
    background-position: 0 0;
  }
  .source-button.mouse:after {
    background-position: -40px 0;
  }
  .source-button.pig:after {
    background-position: -80px 0;
  }
  .source-button.leaf:after {
    background-position: -120px 0;
  }
  .type-button:after {
    content: "";
  }
  .type-button.glass:after {
    background-position: 0 -40px;
  }
  .type-button.micro:after {
    background-position: -40px -40px;
  }
  .type-button.electro:after {
    background-position: -80px -40px;
  }
  .type-button.camera:after {
    background-position: -120px -40px;
  }
}
#wrapper.zoom-mode {
  .minus-button:before {
    content: '\e801';
  }
  .plus-button:before {
    content: '\e800';
  }
  .bar-fill {
    transition: width 1s;
  }
}
#wrapper.rot-mode {
  .minus-button:before {
    content: '\e808';
  }
  .plus-button:before {
    content: '\e809';
  }
}
