#bar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  background-color: #90C695;

  .buttons .button {
    width: 40px;
    height: 40px;
    float: left;
    text-align: center;
    color: #C8F7C5;
  }
  .button.clickable {
    background-color: #1E824C;
    cursor: pointer;
    transition: color $transSpeed, background-color $transSpeed;
  }
  .button.clickable:hover {
    background-color: #CF000F;
    color: #fff;
  }
  .button.informative {
    background-color: #00B16A;
  }
  .buttons .button:before {
    font-family: "icon-font";
    line-height: 40px;
    font-size: 24px;
    display: inline-block;
    vertical-align: top;
    font-style: normal;
    font-weight: normal;
    speak: none;
    font-variant: normal;
    text-transform: none;
  }
  .menu-button:before {
    content: '\e807';
  }
  .marker-button:before {
    content: '\e802';
  }
  .minus-button:before {
    content: '\e801';
  }
  .plus-button:before {
    content: '\e800';
  }
  .buttons .button.plus-button {
    float: right;
  }
}
