#canvas {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 40px;
  left: 0;
  background-size: cover;
  background-position: center;
  overflow: hidden;

  .aux-layer {
    position: absolute;
    top: 0%;
    left: 0%;
    background-size: cover;
    background-position: center;
    visibility: hidden;
  }

  .tag-layer {
    position: absolute;
    top: 0;
    left: 0;
  }
}
#wrapper.zoom-mode .aux-layer {
  right: 0%;
  bottom: 0%;
}
#wrapper.zoom-mode .aux-layer.mobile {
  transition: top 0.5s, right 0.5s, bottom 0.5s, left 0.5s;
}
#wrapper.rot-mode .aux-layer {
  width: 100%;
  height: 100%;
}
#wrapper.rot-mode .aux-layer.mobile {
  transition: top 0.5s, left 0.5s, width 0.5s, height 0.5s;
}
