$transSpeed: 0.15s;
$assets: url("img/assets.png");
$contrast: #CF000F;
$darkGreen: #1E824C;

.pfc-close-button {
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  color: $darkGreen;
  cursor: pointer;
  transition: color $transSpeed;
  width: 40px;
  height: 40px;
}
.pfc-close-button:hover {
  color: $contrast;
}
.pfc-close-button:before {
  font-size: 24px;
  line-height: 40px;
  content: "\e806";
  font-family: "icon-font";
  display: inline-block;
  vertical-align: top;
  font-style: normal;
  font-weight: normal;
  speak: none;
  font-variant: normal;
  text-transform: none;
}
.pfc-marker {
  position: absolute;
  width: 40px;
  height: 40px;
  background: $assets 0 -80px;
  margin: -35px 0 0 -10px;
  cursor: pointer;
}